// color
$base-1: red; //未定
$base-2: red; //未定
$base-3: red; //未定

$gray-1: #333;
$gray-2: #4d4d4d;
$gray-3: #707070;
$gray-4: #d9d9d9;
$gray-5: #f8f9fa;
$white: #fff;

// shadow
$shadow: 0 0 2px rgba(0, 0, 0, 0.15);

// フォントファミリー
$font-ja: "Noto Sans JP";
$font-en: "Noto Sans JP";

//ブレイクポイント
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

//コンテンツ幅
$container:680px;

@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}
